#dojo{
    width: 500px;
    height: 400px;
    object-fit: cover;

}
p{
    background-color:yellow
    font-size: 50px;
    
}
h1{
    text-align: center;
    color: pink;
}
div{
    display: flex;
}
